<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Персональные сведения</title>
</head>
<body>
    <div class="container">
        <h2>Персональные сведения</h2>
        <div class="content">
            <div class="photo-section">
                <img src="avatar.png">
            </div>
            <div class="form-section">
                <div class="tabs">
                    <button class="active">Ф.И.О.</button>
                    <button>Прежняя ФИО</button>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <div class="input-group" style="width: 47%;margin-right:20px;">
                            <label for="surname">ФАМИЛИЯ</label>
                            <input type="text" id="surname" value="">
                        </div>
                        <div class="input-group" style="width: 47%;margin-right:20px;">
                            <label for="surname-translit">ФАМИЛИЯ ТРАНСЛИТОМ</label>
                            <input type="text" id="surname-translit" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" style="width: 47%;margin-right:20px;">
                            <label for="name">ИМЯ</label>
                            <input type="text" id="name" value="">
                        </div>
                        <div class="input-group" style="width: 47%;margin-right:20px;">
                            <label for="name-translit">ИМЯ ТРАНСЛИТОМ</label>
                            <input type="text" id="name-translit" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" style="width: 47%;margin-right:20px;">
                            <label for="patronymic">ОТЧЕСТВО</label>
                            <input type="text" id="patronymic" value="">
                        </div>
                        <div class="input-group" style="width: 47%;margin-right:20px;">
                            <label for="patronymic-translit">ОТЧЕСТВО ТРАНСЛИТОМ</label>
                            <input type="text" id="patronymic-translit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container" style="margin-bottom: 50px;">
            <div class="form-group">
                <div class="input-group" style="width:46%;">
                    <label>ИИН</label>
                    <input type="text" value="">
                </div>
                <div class="input-group" style="width:46%; margin-right: 22px;">
                    <label>ДАТА РОЖДЕНИЯ</label>
                    <input type="date">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>НАЦИОНАЛЬНОСТЬ</label>
                    <select>
                        <option>Казахи</option>
                        <option>АВАРЕЦ</option>
<option>АЗЕРБАЙДЖАНЕЦ</option>
<option>АЛБАНЕЦ</option>
<option>АЛТАЙЕЦ</option>
<option>АМЕРИКАНЕЦ</option>
<option>АРАБ</option>
<option>АРМЯНИН</option>
<option>АФГАНЕЦ</option>
<option>БАШКИР</option>
<option>БЕЛОРУС</option>
<option>БОЛГАРИН</option>
<option>БУРЯТ</option>
<option>ВЕНГР</option>
<option>ВЬЕТНАМЕЦ</option>
<option>ГАГАУЗ</option>
<option>ГРУЗИН</option>
<option>ЕВРЕЙ</option>
<option>ИНДИЕЦ</option>
<option>ИНГУШ</option>
<option>ИРАНЕЦ</option>
<option>ИРЛАНДЕЦ</option>
<option>ИСПАНЕЦ</option>
<option>ИТАЛЬЯНЕЦ</option>
<option>КАЗАХ</option>
<option>КАРАЧАЕВЕЦ</option>
<option>КАРЕЛ</option>
<option>КИТАЕЦ</option>
<option>КОРЕЕЦ</option>
<option>КРЫМЧАК</option>
<option>КУМЫК</option>
<option>КЫРГЫЗ</option>
<option>ЛАТЫШ</option>
<option>ЛЕЗГИН</option>
<option>ЛИТОВЕЦ</option>
<option>МАРИЕЦ</option>
<option>МОЛДАВАНИН</option>
<option>МОНГОЛ</option>
<option>НЕМЕЦ</option>
<option>ОСЕТИН</option>
<option>ПОЛЯК</option>
<option>РУССКИЙ</option>
<option>СЕРБ</option>
<option>СЛОВАК</option>
<option>ТАДЖИК</option>
<option>ТАТАРИН</option>
<option>ТУРКМЕН</option>
<option>ТУРК</option>
<option>УДМУРТ</option>
<option>УЗБЕК</option>
<option>УКРАИНЕЦ</option>
<option>ФИНН</option>
<option>ФРАНЦУЗ</option>
<option>ЧЕХ</option>
<option>ЧЕЧЕНЕЦ</option>
<option>ЧУВАШ</option>
<option>ШОТЛАНДЕЦ</option>
<option>ШВЕД</option>
<option>ЭСТОНЕЦ</option>
<option>ЯКУТ</option>
<option>ЯПОНЕЦ</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>ПОЛ</label>
                    <select>
                        <option>Мужской</option>
                        <option>Женский</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>СЕМЕЙНОЕ ПОЛОЖЕНИЕ</label>
                    <select>
                        <option>Холост/Не замужем</option>
                        <option>Женат/Замужем</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>ГРАЖДАНСТВО</label>
                    <select>
                        <option>АВСТРАЛИЯ</option>
<option>АВСТРИЯ</option>
<option>АЗЕРБАЙДЖАН</option>
<option>АЛБАНИЯ</option>
<option>АЛЖИР</option>
<option>АНГОЛА</option>
<option>АНДОРРА</option>
<option>АНТИГУА И БАРБУДА</option>
<option>АРГЕНТИНА</option>
<option>АРМЕНИЯ</option>
<option>АФГАНИСТАН</option>
<option>БАГАМЫ</option>
<option>БАНГЛАДЕШ</option>
<option>БАРБАДОС</option>
<option>БАХРЕЙН</option>
<option>БЕЛАРУСЬ</option>
<option>БЕЛЬГИЯ</option>
<option>БЕНИН</option>
<option>БОЛГАРИЯ</option>
<option>БОЛИВИЯ</option>
<option>БОСНИЯ И ГЕРЦЕГОВИНА</option>
<option>БОТСВАНА</option>
<option>БРАЗИЛИЯ</option>
<option>БРУНЕЙ</option>
<option>БУРКИНА-ФАСО</option>
<option>БУРУНДИ</option>
<option>БУТАН</option>
<option>ВАТИКАН</option>
<option>ВЕЛИКОБРИТАНИЯ</option>
<option>ВЕНГРИЯ</option>
<option>ВЕНЕСУЭЛА</option>
<option>ВЬЕТНАМ</option>
<option>ГАБОН</option>
<option>ГАИТИ</option>
<option>ГАЙАНА</option>
<option>ГАМБИЯ</option>
<option>ГАНА</option>
<option>ГВАТЕМАЛА</option>
<option>ГВИНЕЯ</option>
<option>ГЕРМАНИЯ</option>
<option>ГОНДУРАС</option>
<option>ГРЕНАДА</option>
<option>ГРЕЦИЯ</option>
<option>ГРУЗИЯ</option>
<option>ДАНИЯ</option>
<option>ДЖИБУТИ</option>
<option>ДОМИНИКА</option>
<option>ДОМИНИКАНСКАЯ РЕСПУБЛИКА</option>
<option>ЕГИПЕТ</option>
<option>ЗАМБИЯ</option>
<option>ЗИМБАБВЕ</option>
<option>ИЗРАИЛЬ</option>
<option>ИНДИЯ</option>
<option>ИНДОНЕЗИЯ</option>
<option>ИРАК</option>
<option>ИРАН</option>
<option>ИРЛАНДИЯ</option>
<option>ИСПАНИЯ</option>
<option>ИТАЛИЯ</option>
<option>КАЗАХСТАН</option>
<option>КАНАДА</option>
<option>КЕНИЯ</option>
<option>КИРГИЗИЯ</option>
<option>КИТАЙ</option>
<option>КОЛУМБИЯ</option>
<option>КОРЕЯ (ЮЖНАЯ)</option>
<option>КОРЕЯ (СЕВЕРНАЯ)</option>
<option>КУБА</option>
<option>ЛАТВИЯ</option>
<option>ЛИТВА</option>
<option>МЕКСИКА</option>
<option>МОЛДОВА</option>
<option>МОНГОЛИЯ</option>
<option>НИДЕРЛАНДЫ</option>
<option>НОРВЕГИЯ</option>
<option>ПАКИСТАН</option>
<option>ПОЛЬША</option>
<option>ПОРТУГАЛИЯ</option>
<option>РОССИЯ</option>
<option>РУМЫНИЯ</option>
<option>СЕРБИЯ</option>
<option>СЛОВАКИЯ</option>
<option>СЛОВЕНИЯ</option>
<option>США</option>
<option>ТАДЖИКИСТАН</option>
<option>ТУРЦИЯ</option>
<option>ТУРКМЕНИСТАН</option>
<option>УЗБЕКИСТАН</option>
<option>УКРАИНА</option>
<option>ФИНЛЯНДИЯ</option>
<option>ФРАНЦИЯ</option>
<option>ХОРВАТИЯ</option>
<option>ЧЕХИЯ</option>
<option>ШВЕЙЦАРИЯ</option>
<option>ШВЕЦИЯ</option>
<option>ЯПОНИЯ</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>СТРАНА, ОТКУДА ПРИБЫЛ</label>
                    <select>
                        <option>АВСТРАЛИЯ</option>
<option>АВСТРИЯ</option>
<option>АЗЕРБАЙДЖАН</option>
<option>АЛБАНИЯ</option>
<option>АЛЖИР</option>
<option>АНГОЛА</option>
<option>АНДОРРА</option>
<option>АНТИГУА И БАРБУДА</option>
<option>АРГЕНТИНА</option>
<option>АРМЕНИЯ</option>
<option>АФГАНИСТАН</option>
<option>БАГАМЫ</option>
<option>БАНГЛАДЕШ</option>
<option>БАРБАДОС</option>
<option>БАХРЕЙН</option>
<option>БЕЛАРУСЬ</option>
<option>БЕЛЬГИЯ</option>
<option>БЕНИН</option>
<option>БОЛГАРИЯ</option>
<option>БОЛИВИЯ</option>
<option>БОСНИЯ И ГЕРЦЕГОВИНА</option>
<option>БОТСВАНА</option>
<option>БРАЗИЛИЯ</option>
<option>БРУНЕЙ</option>
<option>БУРКИНА-ФАСО</option>
<option>БУРУНДИ</option>
<option>БУТАН</option>
<option>ВАТИКАН</option>
<option>ВЕЛИКОБРИТАНИЯ</option>
<option>ВЕНГРИЯ</option>
<option>ВЕНЕСУЭЛА</option>
<option>ВЬЕТНАМ</option>
<option>ГАБОН</option>
<option>ГАИТИ</option>
<option>ГАЙАНА</option>
<option>ГАМБИЯ</option>
<option>ГАНА</option>
<option>ГВАТЕМАЛА</option>
<option>ГВИНЕЯ</option>
<option>ГЕРМАНИЯ</option>
<option>ГОНДУРАС</option>
<option>ГРЕНАДА</option>
<option>ГРЕЦИЯ</option>
<option>ГРУЗИЯ</option>
<option>ДАНИЯ</option>
<option>ДЖИБУТИ</option>
<option>ДОМИНИКА</option>
<option>ДОМИНИКАНСКАЯ РЕСПУБЛИКА</option>
<option>ЕГИПЕТ</option>
<option>ЗАМБИЯ</option>
<option>ЗИМБАБВЕ</option>
<option>ИЗРАИЛЬ</option>
<option>ИНДИЯ</option>
<option>ИНДОНЕЗИЯ</option>
<option>ИРАК</option>
<option>ИРАН</option>
<option>ИРЛАНДИЯ</option>
<option>ИСПАНИЯ</option>
<option>ИТАЛИЯ</option>
<option>КАЗАХСТАН</option>
<option>КАНАДА</option>
<option>КЕНИЯ</option>
<option>КИРГИЗИЯ</option>
<option>КИТАЙ</option>
<option>КОЛУМБИЯ</option>
<option>КОРЕЯ (ЮЖНАЯ)</option>
<option>КОРЕЯ (СЕВЕРНАЯ)</option>
<option>КУБА</option>
<option>ЛАТВИЯ</option>
<option>ЛИТВА</option>
<option>МЕКСИКА</option>
<option>МОЛДОВА</option>
<option>МОНГОЛИЯ</option>
<option>НИДЕРЛАНДЫ</option>
<option>НОРВЕГИЯ</option>
<option>ПАКИСТАН</option>
<option>ПОЛЬША</option>
<option>ПОРТУГАЛИЯ</option>
<option>РОССИЯ</option>
<option>РУМЫНИЯ</option>
<option>СЕРБИЯ</option>
<option>СЛОВАКИЯ</option>
<option>СЛОВЕНИЯ</option>
<option>США</option>
<option>ТАДЖИКИСТАН</option>
<option>ТУРЦИЯ</option>
<option>ТУРКМЕНИСТАН</option>
<option>УЗБЕКИСТАН</option>
<option>УКРАИНА</option>
<option>ФИНЛЯНДИЯ</option>
<option>ФРАНЦИЯ</option>
<option>ХОРВАТИЯ</option>
<option>ЧЕХИЯ</option>
<option>ШВЕЙЦАРИЯ</option>
<option>ШВЕЦИЯ</option>
<option>ЯПОНИЯ</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <label>ОБЛАСТЬ, ОТКУДА ПРИБЫЛ</label>
                <select>
                    <option>Акмолинская</option>
<option>Актюбинская</option>
<option>Алматинская</option>
<option>Атырауская</option>
<option>Восточно-Казахстанская</option>
<option>Жамбылская</option>
<option>Жетысуская</option>
<option>Западно-Казахстанская</option>
<option>Карагандинская</option>
<option>Костанайская</option>
<option>Кызылординская</option>
<option>Мангистауская</option>
<option>Павлодарская</option>
<option>Северо-Казахстанская</option>
<option>Туркестанская</option>
<option>Улытауская</option>
<option>Астана</option>
<option>Алматы</option>
<option>Шымкент</option>
                </select>
            </div>
            <h3>Место рождения</h3>
            <div class="form-group">
                <div class="input-group">
                    <label>Населенный пункт рождения (КАТО)</label>
                    <select><option>110000000 Акмолинская область</option></select>
                </div>
            </div>
            <h3>Место проживания</h3>
            <div class="form-group">
                <div class="input-group">
                    <label>Населенный пункт прописки (КАТО)</label>
                    <select><option>710000000 г.Астана</option></select>
                </div>
                <div class="input-group" style="width:46%; margin-right: 22px;">
                    <label>Адрес прописки</label>
                    <input type="text" value="Нур-Султан">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>Населенный пункт проживания (КАТО)</label>
                    <select><option>710000000 г.Астана</option></select>
                </div>
                <div class="input-group" style="width:46%; margin-right: 22px;">
                    <label>Адрес проживания</label>
                    <input type="text" value="">
                </div>
            </div>
        </div>
        <button class="save-button">Сохранить</button>
    </div>
</body>
</html>
