{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud</title>
    <link rel="stylesheet" href="{% static 'assets_v2/css/root.css' %}">
    <link rel="stylesheet" href="{% static 'assets_v2/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets_v2/css/page-auth.css' %}">
    <link rel="stylesheet" href="{% static 'assets_v2/css/page-profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets_v2/css/page-directory.css' %}">
    <link rel="stylesheet" href="{% static 'assets_v2/css/deleteFile.css' %}">
    <script src="{% static 'assets_v2/axios/axios.min.js' %}"></script>
</head>
<body>
    <section id="app">
        <!-- Auth page -->
        <section v-if="page === 'auth' && lang !== null" class="page auth">
            <div class="container">
                <div class="card">
                    <div class="header">
                        <select class="form-select w-25" v-model="lang">
                            <option v-for="(value, key) in localization" :value="key" :key="key">{[ value.lang ]}</option>
                        </select>
                        <span class="help-link" :title="localization[lang].page.auth.helpTitle">{[ localization[lang].page.auth.help ]}</span>
                    </div>
                    <h2 class="title">{[ localization[lang].page.auth.title ]}</h2>
                    <div class="form">
                        <label for="iin" class="form-label required">{[  localization[lang].page.auth.iin ]}</label>
                        <input 
                            type="text" 
                            id="iin" 
                            class="form-control" 
                            :placeholder=" localization[lang].page.auth.iinPlaceholder" 
                            autocomplete="off" 
                            v-model="authData.authForm.iin">
                        
                        <label for="password" class="form-label required">{[  localization[lang].page.auth.password ]}</label>
                        <input 
                            type="password" 
                            id="password" 
                            class="form-control" 
                            :placeholder=" localization[lang].page.auth.passwordPlaceholder" 
                            autocomplete="off" 
                            v-model="authData.authForm.password">
                            
                        <template v-if="authData.authForm.passwordConfirmationVisible">
                            <label for="passwordConfirmation" class="form-label required">{[  localization[lang].page.auth.passwordPlaceholderConfirmation ]}</label>
                            <input 
                                type="password" 
                                id="passwordConfirmation" 
                                class="form-control" 
                                :placeholder="localization[lang].page.auth.passwordPlaceholderConfirmation" 
                                autocomplete="off" 
                                v-model="authData.authForm.passwordConfirmation">
                        </template>
                                    
                        <button type="submit" class="btn w-100" @click="authPageLogin">{[  localization[lang].page.auth.login ]}</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Header authorized pages -->
        <section v-if="page !== 'auth'" class="page header">
            <div class="navbar">
                <div class="section">
                    <span @click="page = 'profile'">Профиль</span>
                    <span @click="page = 'directory'">Файловый каталог</span>
                    <span class="exit" @click="signOut">Выйти</span>
                </div>
            </div>
        </section>
        <!-- Profile page -->
        <section v-if="page === 'profile'" class="page profile">
            <div class="section" style="padding-left: 20px;">
                <h2 class="mt-2">Профиль</h2>
                <hr>
                <div class="card">
                    <h3>Данные</h3>
                    <p>Имя: <span id="name">[Ваше Имя]</span></p>
                    <!-- <input type="text" id="nameInput" class="form-control"> -->
                    <p>Фамилия: <span id="surname">[Ваша Фамилия]</span></p>
                    <!-- <input type="text" id="surnameInput" class="form-control"> -->
                    <p>Отчество: <span id="patronymic">[Ваше Отчество]</span></p>
                    <!-- <input type="text" id="patronymicInput" class="form-control"> -->
                    <!-- <button class="edit-btn" onclick="toggleEdit('data')">Редактировать</button> -->
                </div>
                <div class="card">
                    <h3>Доп. информация</h3>
                    <p>Адрес проживания: <span id="residence">[Ваш Адрес]</span></p>
                    <!-- <input type="text" id="residenceInput" class="form-control"> -->
                    <p>Адрес прописки: <span id="registration">[Ваш Адрес]</span></p>
                    <!-- <input type="text" id="registrationInput" class="form-control"> -->
                    <!-- <button class="edit-btn" onclick="toggleEdit('additional')">Редактировать</button> -->
                </div>
                <div class="card">
                    <h3>Образование</h3>
                    <p>Универ 1: <span id="education1">[Ваш Университет]</span></p>
                    <!-- <input type="text" id="education1Input" class="form-control"> -->
                    <p>Универ 2: <span id="education2">[Ваш Университет]</span></p>
                    <!-- <input type="text" id="education2Input" class="form-control"> -->
                    <p>Универ 3: <span id="education3">[Ваш Университет]</span></p>
                    <!-- <input type="text" id="education3Input" class="form-control"> -->
                    <!-- <button class="edit-btn" onclick="toggleEdit('education')">Редактировать</button> -->
                </div>
                <div class="card">
                    <h3>Навыки</h3>
                    <p>Навык 1: <span id="skill1">[Ваш Навык]</span></p>
                    <!-- <input type="text" id="skill1Input" class="form-control"> -->
                    <p>Навык 2: <span id="skill2">[Ваш Навык]</span></p>
                    <!-- <input type="text" id="skill2Input" class="form-control"> -->
                    <p>Навык 3: <span id="skill3">[Ваш Навык]</span></p>
                    <!-- <input type="text" id="skill3Input" class="form-control"> -->
                    <!-- <button class="edit-btn" onclick="toggleEdit('skills')">Редактировать</button> -->
                </div>
            </div>
        </section>
        <!-- Directory page -->
        <section v-if="page === 'directory'" class="page directory">
            <div class="section" style="padding-left: 20px;" @click="clearWidgetsStatus">
                <div class="header">
                    <div class="src">
                        <div v-for="(crumb, index) in currentPath" :key="crumb.id" style="margin-right: 10px;">
                            <span 
                                class="elem" 
                                @click="navigateTo(index)" >
                                <span v-text="crumb.name"></span>
                            </span>
                            <span v-if="index !== currentPath.length - 1"> > </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="main" @contextmenu.prevent="showMainMenu">
                    <div class="dir-elem-list-grid">
                        <div class="upload-box" @click="triggerFileUpload">
                            <div class="upload-button">
                                <img src="{% static 'assets_v2/images/plus.png' %}" alt="">
                            </div>
                            <p>Создать<br>или загрузить</p>
                            <input type="file" ref="fileInput" @change="handleFileUpload" style="display: none;">
                        </div>
                        
                        <template v-for="(elem, index) in fileTree" :key="elem.id">
                            <div 
                                class="dir-elem" 
                                @contextmenu.prevent.stop="showFileTreeElemContextMenu($event, elem)"
                                @dblclick="handleDoubleClick(elem)"
                                style="cursor: pointer;">
                                <img :src="'/templates/'+elem.img" alt="">
                                <span><span v-text="elem.name"></span></span>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            
            <div @click.stop 
                 :style="{left: widgets.mainMenu.posX + 'px', top: widgets.mainMenu.posY + 'px', display: widgets.mainMenu.show ? 'block' : 'none', transform: widgets.mainMenu.direction === 'left' ? 'translateX(-100%)' : 'translateX(0)'}" 
                 class="menu">
                <div class="menu-item has-submenu" 
                     @mouseover="widgets.mainMenu.showSubmenu = true" 
                     @mouseleave="widgets.mainMenu.showSubmenu = false">
                    <span class="icon">+</span>
                    <span class="text">Создать</span>
                    <span class="arrow">></span>
                    <div class="submenu" :class="{ 'left': widgets.mainMenu.submenuDirection === 'left' }"  v-if="widgets.mainMenu.showSubmenu">
                        <div class="submenu-item" @click="createFolder">
                            <span class="icon">📁</span>
                            <span class="text">Папку</span>
                        </div>
                        <div class="submenu-item" @click="createFile">
                            <span class="icon">📄</span>
                            <span class="text">Файл</span>
                        </div>
                    </div>
                </div>
            </div>
            <div @click.stop 
                 :style="{width: '330px',left: widgets.fileTreeElem.posX + 'px', top: widgets.fileTreeElem.posY + 'px', display: widgets.fileTreeElem.show ? 'block' : 'none', transform: widgets.fileTreeElem.direction === 'left' ? 'translateX(-100%)' : 'translateX(0)'}" 
                 class="menu">
                <div v-if="widgets.fileTreeElem.elem.type !== 'folder'" class="menu-item" @click="copyPublicLink('https://google.com')">
                    <span class="icon">🔗</span>
                    <span class="text">Скопировать публичную ссылку</span>
                </div>
                <div class="divider" v-if="widgets.fileTreeElem.elem.type !== 'folder'"></div>
                <div class="menu-item">
                    <span class="icon">✏️</span>
                    <span class="text">Переименовать</span>
                </div>
                <div v-if="widgets.fileTreeElem.elem.type !== 'folder'" class="menu-item">
                    <span class="icon">📥</span>
                    <span class="text">Скачать</span>
                </div>
                <div class="divider"></div>
                <div class="menu-item" @click="openDeleteFileModal">
                    <span class="icon">🗑️</span>
                    <span class="text">Переместить в корзину</span>
                </div>
            </div>
    
            <div v-if="modals.deleteFile.show" class="modal-overlay" @click="closeDeleteFileModal"></div>
            <div v-if="modals.deleteFile.show" class="modal-body">
                <div class="modal-header">
                    <h2>Удалить файл "<span v-text="modals.deleteFile.fileName"></span>"?</h2>
                </div>
                <div class="modal-footer">
                    <button class="confirm-btn" @click="confirmDeleteFileActionModal">Подтвердить</button>
                    <button class="cancel-btn" @click="closeDeleteFileModal">Отменить</button>
                </div>
            </div>
    
            <div v-if="modals.createFolder.show" class="modal-overlay" @click="closeCreateFolderModal"></div>
            <div v-if="modals.createFolder.show" class="modal-body">
                <div class="modal-header">
                    <h2>Создать папку</h2>
                </div>
                <div class="modal-footer" style="box-sizing: border-box;">
                    <input type="text" v-model="modals.createFolder.name">
                    <button class="confirm-btn" @click="confirmCreateFolderActionModal">Подтвердить</button>
                    <button class="cancel-btn" @click="closeCreateFolderModal">Отменить</button>
                </div>
            </div>
    
            
        </section>
        <div 
            class="notification-container" 
            :class="{ 'show': notifications.visible }">
            <div class="notification" v-for="notification in notifications.messages" :class="notification.status">
                <span v-text="notification.message"></span>
            </div>
        </div>
    </section>
    <script src="{% static 'assets_v2/vue/vue.global.prod.js' %}"></script>
    <script src="{% static 'assets_v2/scripts/auth/methods.js' %}"></script>
    <script src="{% static 'assets_v2/scripts/localization.js' %}"></script>
    <script src="{% static 'assets_v2/scripts/notificationModal.js' %}"></script>
    <script src="{% static 'assets_v2/scripts/directory/directory.js' %}"></script>
    <script src="{% static 'assets_v2/scripts/base.js' %}"></script>
    <script>

        console.log('start')

        const { createApp } = Vue;

        // Группа методов для управления модальными окнами
        const modalMethods = {
            openDeleteFileModal() {
                const fileName = Object.assign(this.widgets.fileTreeElem.elem.name)
                this.clearWidgetsStatus();
                this.modals.deleteFile.show = true;
                this.modals.deleteFile.fileName = fileName;
            },
            closeDeleteFileModal() {
                this.modals.deleteFile.show = false;
            },
            confirmDeleteFileActionModal() {
                // Логика удаления файла
                this.showNotification(`Файл "${this.modals.deleteFile.fileName}" перемещен в корзину`);
                this.modals.deleteFile.show = false;
            },
            confirmCreateFolderActionModal() {
                if (!this.modals.createFolder.name) {
                    this.showNotification('Название папки не может быть пустым', 5000);
                } else {
                    axios.post('/fileManager/dir?function=create_folder', {
                        path: this.getCurrentPathString(),
                        name: this.modals.createFolder.name
                    }, {
                        headers: this.getHeaders()
                    } ).then((response)=>{
                        console.log(response)
                        this.showNotification(`Папка "${this.modals.createFolder.name}" создана`);
                        this.modals.createFolder.show = false;
                        this.getTree()
                    }).catch((error)=>{
                        this.showNotification(`Создть папку "${this.modals.createFolder.name}" не удалось`, 5000);
                        this.modals.createFolder.show = false;
                        console.log(error)
                    })
                }
            },
        };

        // Группа методов для управления меню
        const menuMethods = {
            showMainMenu(e) {
                this.clearWidgetsStatus();

                this.widgets.mainMenu.show = true;
                this.widgets.mainMenu.posX = e.clientX;
                this.widgets.mainMenu.posY = e.clientY;
                
                // Проверка места для основного меню
                if (window.innerWidth - e.clientX < 250) {
                    this.widgets.mainMenu.direction = 'left';
                } else {
                    this.widgets.mainMenu.direction = 'right';
                }

                // Проверка места для подменю
                if (window.innerWidth - e.clientX < 250 + 200) {
                    this.widgets.mainMenu.submenuDirection = 'left';
                } else {
                    this.widgets.mainMenu.submenuDirection = 'right';
                }
            },
            showFileTreeElemContextMenu(e, elem) {
                this.clearWidgetsStatus();

                this.widgets.fileTreeElem.show = true;
                this.widgets.fileTreeElem.posX = e.clientX;
                this.widgets.fileTreeElem.posY = e.clientY;
                this.widgets.fileTreeElem.elem = elem;

                // Проверка места для меню элементов файлового дерева
                if (window.innerWidth - e.clientX < 330) {
                    this.widgets.fileTreeElem.direction = 'left';
                } else {
                    this.widgets.fileTreeElem.direction = 'right';
                }
            }
        };

        // Группа методов для работы с файлами и папками
        const fileMethods = {
            triggerFileUpload() {
                this.$refs.fileInput.click();
            },
            handleFileUpload(event) {
                const files = event.target.files;
                if (files.length > 0) {
                    const newFile = {
                        id: Date.now(),
                        img: 'assets_v2/images/file.png',
                        name: files[0].name,
                        type: 'file',
                    };
                    this.fileTree.push(newFile);
                    this.showNotification(`Файл "${files[0].name}" загружен`);
                }
            },
            copyPublicLink(link) {
                this.clearWidgetsStatus();
                navigator.clipboard.writeText(link);
                this.showNotification('Ссылка скопирована!');
            },
            createFolder() {
                // const newFolder = {
                //     id: Date.now(),
                //     img: 'assets_v2/images/folder.png',
                //     name: `Новая папка ${this.currentPath.length}`,
                //     type: 'folder',
                //     children: []
                // };
                // const currentFolder = this.currentPath[this.currentPath.length - 1];
                // currentFolder.children.push(newFolder);
                // this.showNotification('Папка создана');
                // this.widgets.mainMenu.show = false;
                this.clearWidgetsStatus();
                this.modals.createFolder.show = true;
            },
            createFile() {
                const newFile = {
                    id: Date.now(),
                    img: 'assets_v2/images/file.png',
                    name: `Новый файл ${this.currentPath.length}`,
                    type: 'file',
                };
                const currentFolder = this.currentPath[this.currentPath.length - 1];
                currentFolder.children.push(newFile);
                this.showNotification('Файл создан');
                this.widgets.mainMenu.show = false;
            },
            handleDoubleClick(elem) {
                if (elem.type === 'folder') {
                    this.enterFolder(elem);
                }
            },
            enterFolder(folder) {
                this.currentPath.push(folder);
                this.updateFileTree();
            },
            navigateTo(index) {
                this.currentPath = this.currentPath.slice(0, index + 1);
                this.updateFileTree();
            },
            updateFileTree() {
                const lastPath = this.currentPath[this.currentPath.length - 1];
                this.fileTree = lastPath.children;
            }
        };

        // Группа методов для уведомлений
        const notificationMethods = {
            
        };
        // Основной объект приложения Vue
        const app = createApp({
            data() {
                return {
                    lang: null,
                    localization,
                    page: null,
                    pages: {
                        auth: 'auth',
                        profile: 'profile',
                        directory: 'directory',
                    },
                    authData: {
                        authForm: {
                            iin: '',
                            password: '',
                            passwordConfirmation: '',
                            passwordConfirmationVisible: false
                        }
                    },
                    fileTree: [
                        { 
                            id: 1, 
                            img: "assets_v2/images/folder.png", 
                            name: "Folder 1", 
                            type: "folder", 
                            children: [
                                { 
                                    id: 5, 
                                    img: "assets_v2/images/folder.png", 
                                    name: "Folder 1-1", 
                                    type: "folder", 
                                    children: [
                                        { id: 6, img: "assets_v2/images/doc.png", name: "Doc 2", type: "doc" },
                                    ] 
                                },
                            ] 
                        },
                        { id: 2, img: "assets_v2/images/folder.png", name: "Folder 2", type: "folder", children: [] },
                        { id: 3, img: "assets_v2/images/doc.png", name: "Doc 1", type: "doc"},
                        { id: 4, img: "assets_v2/images/excel.png", name: "Excel 1", type: "excel"},
                    ],
                    currentPath: [{ id: 0, name: "Home", children: [] }], // Начальный путь
                    modals: {
                        rename: {
                            show: false,
                            name: ''
                        },
                        deleteFile: {
                            show: false,
                            fileName: ''
                        },
                        deleteFolder: {
                            show: false,
                        },
                        createFolder: {
                            show: false,
                            name: ''
                        }
                    },
                    widgets: {
                        mainMenu: {
                            show: false,
                            posX: 0,
                            posY: 0,
                            direction: 'right',
                            showSubmenu: false,
                            submenuDirection: 'right'
                        },
                        fileTreeElem: {
                            show: false,
                            posX: 0,
                            posY: 0,
                            direction: 'right',
                            elem: {}
                        }
                    },
                    notifications: {
                        visible: false,
                        messages: []
                    },
                    auth: {
                        token: null
                    }
                }
            },
            delimiters: ['{[', ']}'],
            watch: {
                'page'(newVal,oldVal){
                    if (newVal === oldVal) return
                    localStorage.setItem('ais.page', newVal)      
                },
                'lang'(newVal,oldVal){
                    if (newVal === oldVal) return
                    localStorage.setItem('ais.lang', newVal)      
                },
                'auth.token'(newVal,oldVal){
                    if (newVal === oldVal) return
                    localStorage.setItem('ais.auth.token', newVal)      
                }
            },
            mounted() {
                this.page = localStorage.getItem('ais.page') || this.pages.auth
                this.lang = localStorage.getItem('ais.lang') || 'ru'
                this.auth.token = localStorage.getItem('ais.auth.token') || ''
            },
            methods: {
                // 
                getCurrentPathString() {
                    // Проверяем, что currentPath существует и содержит больше одного элемента
                    if (this.currentPath.length <= 1) {
                        return ''; // Или можно вернуть "Home", если нужно
                    }
                    // Исключаем первый элемент (Home) и объединяем имена через "/"
                    return this.currentPath.slice(1).map(crumb => crumb.name).join(' / ');
                },
                getHeaders() {
                    const csrfMatch = document.cookie.match(/csrftoken=([\w-]+)/);
                    const csrf = csrfMatch ? csrfMatch[1] : null;

                    console.log(csrf)
                    return {
                        // 'Auth': this.auth.token,
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-CSRFToken': csrf,
                    }  
                },
                getTree() {
                    axios.post('/fileManager/dir?function=get_list', {}, {
                        headers: this.getHeaders()
                    }).then((response)=>{
                        console.log(response)
                    }).catch((error)=>{
                        console.log(error)
                    })  
                },
                // Общие методы
                clearWidgetsStatus() {
                    this.widgets.mainMenu = {
                        show: false,
                        posX: 0,
                        posY: 0,
                        direction: 'right',
                        submenuDirection: "right"
                    };
                    this.widgets.fileTreeElem = {
                        show: false,
                        posX: 0,
                        posY: 0,
                        direction: 'right',
                        elem: {}
                    };
                },
                // Группированные методы
                ...modalMethods,
                ...menuMethods,
                ...fileMethods,
                ...notificationMethods,

                ...notificationModalMethods,
                ...authPageMethods,
                ...baseOnClick
            }
        }).mount('#app');

    </script>
</body>
</html>
