body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 50px 0;
    padding: 200px 0 250px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    width: 1200px;
}
h2, h3 {
    margin-bottom: 10px;
    color: #495057;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 25px;
}
.photo-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 94px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.photo-section img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background: #ddd;
}
.form-section {
    width: 75%;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.tabs {
    display: flex;
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 15px;
    width: 300px;
}
.tabs button {
    padding: 10px 15px;
    border: none;
    background: #f8f9fa;
    cursor: pointer;
    flex: 1;
}
.tabs button.active {
    background: #e9ecef;
    font-weight: lighter;
}
.form-container {
    width: 100%;
    background: white;
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 15px;
}
input, select {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group {
    width: 48%;
}
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.save-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #129C83;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.save-button:hover {
    background-color: #108c76;
}