<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AIS</title>
</head>
<body>
  <div id="app">
    <div v-for="mod in modules">
      <iframe
      class="iframe"
      :id="mod.name"
      :key="mod.name"
      :src="mod.src + '?nocache=123'"
    >
    </iframe>
    
      </iframe>
    </div>
  </div>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    
    createApp({
      data() {
        return {
          modules: [
            { name: 'students', src: '/modules/students.html', loaded: false },
            { name: 'teachers', src: '/modules/teachers.html', loaded: false },
            { name: 'files', src: '/modules/files.html', loaded: false }
          ]
        };
      },
      methods: {
      },
      created() {
        
      },
      mounted() {
        const self = this;
        document.querySelectorAll('.iframe').forEach((iframe) => {
          iframe.onload = function (e) {
            console.log(iframe);
            self.modules = self.modules.map((mod) => {
              if (mod.name === this.id) {
                return { ...mod, loaded: true };
              }
              return mod;
            });
          };
        });
        
      },
      beforeUnmount() {
      }
    }).mount('#app');
  </script>
</body>
</html>
